.scanpage-container {
    height: 100vh;
    background-color: #697bff;
    display: flex;
    flex-flow: column;
}

.bar-container {
    padding: 5px 0px 5px 0px;
}

.bar-container span {
    font-size: 35px;
    color: #13293d;
    font-family: NunitoExtraBold;
    letter-spacing: 7px;
    margin-left: 100px;
}

.ports-container {
    position: relative;
    background-color: #f5f3f5;
    border-radius: 30px 30px 0px 0px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.controller-container {
    margin: 20px 25px;
    /* background-color: red; */

    display: flex;
    align-items: center;
}

.controller-container div {
    width: max-content;
}

.controller-container .search-container {
    display: flex;
    padding: 6px 10px;
    border-radius: 12px;
    background-color: #f9f9fa;
}

.controller-container .search-container input {
    border: transparent;
    background-color: transparent;
    outline: none;
    font-family: NunitoRegular;
    font-size: 15px;
}

.controller-container .search-container input::placeholder {
    opacity: 50%;
}

.controller-container .live-reload-container {
    margin-left: 20px;
}

.controller-container .filter-container {
    margin-left: 20px;
    transform: scale(1.2);
    margin-top: 3px;
}

.filter-container-popup {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 1px 1px 6px #697bff3a;
}

.filter-container-popup .port-filter-container {
    display: flex;
    align-items: center;
}

.filter-container-popup .port-filter-container > *:nth-child(n + 2) {
    margin-left: 10px;
}

.filter-container-popup .port-filter-container span {
    color: #52575c;
    font-family: NunitoRegular;
}

.filter-container-popup .port-filter-container .port-number-input-container {
    padding: 6px 10px;
    border-radius: 12px;
    background-color: #f9f9fa;
    width: 120px;
}

.filter-container-popup .port-filter-container .port-number-input-container input {
    border: transparent;
    background-color: transparent;
    outline: none;
    font-family: NunitoRegular;
    font-size: 15px;
}

.filter-container-popup .column-filter-container {
    display: flex;
    flex-direction: column;
    font-family: NunitoRegular;
    margin: 20px 0px;
}

.filter-container-popup .column-filter-container * {
    box-sizing: inherit;
    margin-bottom: 10px;
}

.filter-container-popup .column-filter-container *:before,
.filter-container-popup .column-filter-container *:after {
    box-sizing: inherit;
}

.filter-container-popup .column-filter-container div label {
    margin-left: 8px;
    font-size: 15px;
}

.filter-container-popup .actions {
    display: flex;
    justify-content: end;
}

.filter-container-popup .actions .cancel-button {
}

.filter-container-popup .actions .apply-button {
}

.controller-container .refresh-container {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 3px;
    transform: scale(1.2);
}

.controller-container .table-info-container {
}

.controller-container .table-info-container span {
    color: #52575c80;
    font-size: 15px;
    font-family: NunitoRegular;
}
