.table-data-container .title-container {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(148, 46, 46); */
}

.table-data-container .title-container span {
    flex-basis: 100%;
    text-align: center;
    opacity: 80%;
    font-family: NunitoRegular;
    font-size: 15px;
    margin-bottom: 5px;
}

.table-data-container .contents-container .row {
    display: flex;
    flex-direction: row;
}

.table-data-container .contents-container .row:nth-child(odd) {
    background-color: #f9f9fa;
}

.table-data-container .contents-container .row span {
    flex-basis: 100%;
    text-align: center;
    font-family: NunitoRegular;
    margin: 5px 0px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table-data-container .contents-container .row span:last-child {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.table-data-container .contents-container .row:hover span .row-controller {
    visibility: visible;
}

.table-data-container .contents-container .row span .row-controller {
    display: flex;
    justify-content: center;
}

.table-data-container .contents-container .row span .row-controller div {
    display: flex;
}

.table-data-container .contents-container .row span .row-controller div img {
    transform: scale(1.2);
    margin: 0px 10px;
}

.more-container-popup {
    background-color: white;
    border-radius: 8px;

    padding: 0px;
    box-shadow: 1px 1px 6px #697bff3a;
}

.more-container-popup .popup-element {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    cursor: pointer;

    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.bold {
    font-weight: bold;
}

.more-container-popup .popup-element img {
    margin-left: 5px;
}

.more-container-popup .popup-element span {
    margin-left: 10px;
    font-family: NunitoRegular;
}

.more-container-popup .kill-element:hover {
    background-color: #db4f4a2d;
}
