/* @import "./css/common.css"; */

@font-face {
    font-family: "NunitoBold";
    src: local("Nunito-Bold"), url("./fonts/Nunito-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "NunitoRegular";
    src: local("Nunito-Regular"), url("./fonts/Nunito-Regular.ttf") format("opentype");
}

html {
    background-color: #f5f3f5;
}
/* 
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
} */

body {
    margin: 0;
}

#app {
    height: 100vh;
    text-align: center;
}
