@font-face {
    font-family: "NunitoBold";
    src: local("Nunito-Bold"), url("./fonts/Nunito-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "NunitoRegular";
    src: local("Nunito-Regular"), url("./fonts/Nunito-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "NunitoExtraBold";
    src: local("Nunito-ExtraBold"), url("./fonts/Nunito-ExtraBold.ttf") format("opentype");
}

html {
    background-color: #f5f3f5;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    text-align: center;
}